<div class="jumbotron">
  <h1 class="display-4"> Read local Data of  Google Api with JSON Server </h1>
</div>
<div class="container">
  <div class="row">

    <div class="form-group">
      <input name="searchtext" value="" class="form-control" type="text" [(ngModel)]="term" autocomplete="off" placeholder="&#61442;  Start searching for a file by id or name or mimeType">
      <span class="input-group-btn">
         <button class="btn btn-default" type="submit" id="addressSearch">
             Searching ...
         </button>
    </span>
    </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">File Type</th>
        <th scope="col">File Id#</th>
        <th scope="col">File Name</th>
        <th scope="col">MimeType</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of Users |filter:term">
        <th scope="row">{{data.kind}}</th>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.mimeType}}</td>
      </tr>

    </tbody>
  </table>
</div>
</div>
